body {
    background-color: lightblue;
}
h1, p {
    text-align: center;
}
/* #table {
    display: inline-block;
    margin: auto;
    background-color: rgb(242, 175, 116) ;
    width: 150px;
    border: 3px solid black;
    padding: 70px 0;
} */
#table {
    width: 150px;
    height: 80px;
    background-color: rgb(242, 175, 116) ;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
#patrick {
    width: auto;
    height: auto;
    position: relative;
    top:0;
    bottom: 0;
    left: 32%;
    right: 0;
    
    margin: auto;
}